html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body{
  font-family: "Poppins",sans-serif;
}

.section-m1{
    margin: 30px 0;
  }
  
  .section-p1{
    padding: 40px 80px;
  }
  
  body{
    width: 100%;
    background-color: #fff;
    position: relative;
  }

   
   
  #header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80PX;
    background-color: #616369;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    z-index: 999;
    position: relative;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
  }

  button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
  }

  #header .logo{
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 55px;
    top: 13px;
    left: 20px;
  }

  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 35px;
  }

  #navbar{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #navbar li{
    list-style: none;
    padding: 0 20px;
  }
  
  #navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: lightslategray;
    transition: 0.3s ease;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  #navbar li a:hover,
  #navbar li a.active{
    color: rgb(97, 240, 190);
  }
  
  #navbar li a{
    border: 0;
  }

  #header .topnav{
    position: absolute;
    border-radius: 4px;
    right: 20px;
    top: 20px;
    cursor: pointer;
    height: 20px;
    display: flex;
    padding: 7px 20px;
    background: #d4bbbb;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.03);
  }
  
  #header .topnav:hover input{
    width: 150px;
  }

  #header .topnav input{
    width: 0;
    outline: none;
    border: none;
    background: transparent;
    font-weight: 400;
    transition: 0.4s;
  }

  #header .topnav a .fas{
    color: lightslategray;
    font-size: 18px;
  }

  #hero{
    background-image: url("pictures/gaming.png");
    top: 150px;
    height: 90vh;
    width: 91%;
    right: 0;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: static;
  }

  #hero button:hover{
    background-color: #088178;
    color: #fff;
  }

  #hero h3{
    padding-bottom: 15px;
    font-size: 50px;
    line-height: 64px;
    color: #6ccc74;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}
#about{
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  background: #6e6c6c;
  align-items: center;
  justify-content: center;
}

p{
    font-size: 23px;
    color: #000000;
    margin: 15px 0 20px 0;
  }

  #hero p em{
    color: rgb(227, 112, 112);
  }

  #info{
    position: relative;
    justify-content: space-between;
    background-image: url("pictures/Designer\ \(2\).png");
  }
  
  #info p{
    font-size: 15px;
    color: #000000;
    margin: 15px 0 20px 0;
  }

  #info h2{
    padding-bottom: 15px;
    font-size: 50px;
    line-height: 64px;
    color: #b1d1e5;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  #accounts{
    justify-content: space-between
  }

  #accounts li{
    list-style: none;
    padding: 0 20px;
  }

  #accounts li a{
    text-decoration: none;
    padding: 4px 4px 4px 4px;
    font-size: 20px;
    background-color: lightslategray;
    border-radius: 30px;
    justify-content: space-between
  }

  #Product1{
    text-align: center;
  }
  
  #Product1 #procontainer{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
  }
  
  #Product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #3d39393a;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
  }
  
  #Product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  }
  
  #Product1 .pro img{
    width: 100%;
    border-radius: 20px;
  }
  
  #Product1 .pro .des{
    text-align: start;
    padding: 10px 0;
  }
  
  #Product1 .pro .des span{
    color: rgb(156, 156, 48);
    font-size: 12px;
  }
  
  #Product1 .pro .des h5{
    padding-top: 7px;
    font-size: 14px;
  }
  
  #Product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
  }
  
  #Product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
  }

  #cart{
    background: #fff;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    height: 15px;
    width: 15px;
    position: relative;
  }
  #cart #car{
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 10px;
    left: 5px;
    border: none;
    background: transparent;
  }

  #cart #car:hover{
    cursor: pointer;
    color: #088178;
  }
  #hero h1{
    color: #fff;
  }

  #cart h6{
    position: absolute;
    bottom: -15px;
    font-size: 20px;
    font-weight: 500;
  }